" source ~/.vimrc

" search
set hlsearch
set incsearch
set smartcase
set ignorecase
set showmode
set scrolloff=7
set sidescrolloff=8

" basic
set clipboard=unnamed
set guicursor=n-v-c-i:block-Cursor
set timeoutlen=500
set relativenumber
set number

" plugins
" set sneak
set surround
set highlightedyank
set exchange
" NERDTree ref: https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
set easymotion
set multiple-cursors
" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors for Mac
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence

"========Key Mapping========"
let mapleader=" "

nnoremap <Leader>m `
nnoremap L $
nnoremap H ^
nnoremap gk gt
nnoremap gj gT
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>
inoremap <C-o> <C-o>a
nnoremap <Leader>ww <C-w>w
nnoremap <Leader>wh <C-w>h
nnoremap <Leader>wj <C-w>j
nnoremap <Leader>wk <C-w>k
nnoremap <Leader>wl <C-w>l
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap Q <nop>
nnoremap n nzzzv
nnoremap N Nzzzv

"move entire line
"in window
"nnoremap <A-j> :action MoveLineDown<CR>
"nnoremap <A-k> :action MoveLineUp<CR>
"vnoremap <A-j> :action MoveLineDown<CR>
"vnoremap <A-k> :action MoveLineUp<CR>

"in mac TODO:
nnoremap <M-j> :action MoveLineDown<CR>
nnoremap <M-k> :action MoveLineUp<CR>
vnoremap <M-j> :action MoveLineDown<CR>
vnoremap <M-k> :action MoveLineUp<CR>

nnoremap <Esc> :nohlsearch<CR><Esc>
nnoremap <Leader>s :w<CR><Esc>
nnoremap <Leader>q :q<CR><Esc>

" NerdTree
"nnoremap <Leader>e :NERDTreeToggle<CR>
nnoremap <Leader>e :NERDTreeFocus<CR>

" easymotion(TODO:)
" nnoremap <Leader>g/ <Plug>(easymotion-sn)

"========Action========"
"AceJump Mode
nnoremap <Leader>g/ :action AceAction<CR>

"comment single line
nnoremap gcc :action CommentByLineComment<CR><Esc>

"Rename variables
nnoremap <Tab>r :action RenameElement<CR>

"open project menu(use NERDTree now)
" nnoremap <Leader>e :action ActivateProjectToolWindow<CR><Esc>
" nnoremap <Leader>e :action SelectInProjectView<CR>

"顯示參數說明 TODO:
"nnoremap <tab>p :action ParameterInfo<CR><Esc>

" --- Jump ---"
"尋找被誰使用
nnoremap <tab>u :action FindUsages<CR><Esc>
"移至實作
nnoremap <tab>i :action GotoImplementation<CR><Esc>
"移至宣告
nnoremap <tab>d :action GotoDeclaration<CR><Esc>
"尋找類別
nnoremap <Leader>c :action GotoClass<CR><Esc>
"移至上一動
nnoremap gb :action Back<CR><Esc>
"移至下一動
nnoremap gf :action Forward<CR><Esc>
"Go to error
nnoremap ]e :action GotoNextError<CR><Esc>
nnoremap [e :action GotoNextError<CR><Esc>

" --- Terminal ---"
"開啟 terminal
nnoremap <C-\> :action ActivateTerminalToolWindow<CR><Esc>

" --- Find ---"
"Find in file
nnoremap [g :action FindInPath<CR><Esc>
"搜尋檔案
nnoremap <Leader>. :action GotoFile<CR><Esc>
"找到目前專案的成員
"nnoremap <Leader>fm :action FileStructurePopup<CR><Esc>

" --- Test ---"
"前往 unit test
nnoremap <Leader>gt :action GotoTest<CR><Esc>
"展開 unit tests menu
nnoremap <Leader>at :action ActivateUnitTestsToolWindow<CR><Esc>
"跳出 unit tests 功能選單
nnoremap <Leader>mt :action Rider.UnitTesting.Main<CR><Esc>
"執行當前 unit test
nnoremap <Leader>tt :action RiderUnitTestRunContextAction<CR><ESC>
"執行上一次的 unit test
nnoremap <Leader>pt :action RiderUnitTestRepeatPreviousRunAction<CR><ESC>
"設定中斷點
nnoremap <Leader>bp :action ToggleLineBreakpoint<CR><ESC>

" --- Git ---"
"展開 Commit menu
nnoremap <Leader>gg :action ActivateCommitToolWindow<CR><Esc>
"Shelve(preview change)
nnoremap <Leader>gp :action ChangesView.Shelve<CR><Esc>
"Rollback(restore hunk)
nnoremap <Leader>gr :action Vcs.RollbackChangedLines<CR><Esc>

"--- unimpaired mappings ---"
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

"--- Options ---"
" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" but preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>

"--- Plugins ---"
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_color = "rgba(255, 0, 0, 155)"
Plug 'tpope/vim-surround'
"cs"': Change the surrounding from double quotes to single quotes.
"ds": Delete the closest double-quotes surroundings.
"ysiw<b>: Surround the current word with <b> tag (iw means inner word.)
Plug 'terryma/vim-multiple-cursors'
Plug 'tommcdo/vim-exchange'
"cx + motion: Select the first bloc to swap or select the second, and perform the swap.
"cxx : Similar to cx but for the current line.
"X: Similar to cx but for the select text.
"cxc: Cancel pending exchange.
Plug 'preservim/nerdtree'
"Plug 'easymotion/vim-easymotion'